*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    display: flex;
    font-size: larger;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    font-size: 65px;
    margin-left: 100px;
    color:rgb(255, 255, 255)
}

header .menu ul li{
    display: inline;
    font-size: 25px;
    padding-right: 15px;
}

header .menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header .menu ul{
    margin-right: 100px;
}

.about{
    margin: 10px;
    display: flex;
    background-color: rgb(248, 208, 158);
    padding: 10px;
}

section img{
    height: 420px;
}

section .about h2{
    padding-left: 10px;
    font-size: 30px;
}

section .about p{
    padding: 15px 10px 0 25px;
    font-size: 25px;
}

.allcontent{
    margin: 10px;
    background-color: rgb(248, 208, 158);
    padding: 10px;
}

.div-content{
    display: flex;
    justify-content: space-between;
}

.form{
    margin-left: 10px;
    padding-left: 320px;
}

.form form input,
.form form textarea,
.form form button{
    display: block;
    width: 300px;
    margin: 5px;
    padding: 9px;
    position: relative;
    right: 162.5px;

}

form textarea{
    resize: none;
}

.form h2{
    padding: 10px;
    position: relative;
    right: 80px;
}

.imgblock img{
    height: 30px;
    display: inline-block;
    justify-content: space-around;
    padding: 0px 30px 0 0;
    position: relative;
    right: 110px;
}

.imgblock{
    margin-top: 30px;
}

#form-adress, 
.formadress-content{
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 208, 158);
    margin: 0 10px 0 10px;
}

.adress{
    margin-left: 90px;
}

.adress img{
    height: 250px;
    margin: 10px 0 10px 0;
}

.adress h2{
    margin: 10px 0  10px 75px;
}

.adress p{
    margin: 10px 0 10px 35px;
}

footer{
    background-color: rgb(248, 208, 158);
    padding: 10px 0 10px 10px;
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
}

footer p{
    font-weight:lighter;
    padding: 10px 0 0 10px;
}